# Node.js
node_modules/
npm-debug.log
yarn-error.log
credentials.json

# Environment variables
.env

# Google Cloud credentials
backend/credentials.json
backend/*.json  # Ignora outros arquivos JSON no backend, exceto package.json

# Logs
logs/
*.log

# Build artifacts
dist/
build/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.bak
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db
.vercel
